.page {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 0 80px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  color: #000000;
  margin-bottom: 28px;
  z-index: 1;
}

.header__title_span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  max-width: 729px;
  margin-bottom: 0;
  z-index: 1;
}

.logo {
  height: 142px;
  width: 125px;
  position: absolute;
  left: 30px;
  top: 30px;
  margin-bottom: 80px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 150px;
  padding-left: 0;
}

.nav__link {
  display: flex;
  flex-direction: row;
  color: #000000;
  text-decoration: none;
}

.nav__links {
  display: flex;
  margin: 8px 0 0;
  list-style-type: none;
  column-gap: 20px;
  padding-left: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__image {
  position: absolute;
  top: 135px;
  right: 20px;
  max-width: 646px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-bottom: 0;
  z-index: 2;
}

.header__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  bottom: 40px;
  width: 100%;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
  color: #6f6f6f;
  padding-right: 80px;
}

.header__paragraph_text {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  color: #ffffff;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-position-x: 50%;
  background-position-y: 28%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  height: 850px;
  padding: 0px 80px 0;
  position: relative;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  padding-top: 100px;
  z-index: 1;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding-top: 24px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 0px 40px;
  margin-top: 80px;
  margin-bottom: 215px;
}

.recipes__video-caption-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin-bottom: 0;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 1000px;
  /* max-height: 800px; */
  padding: 100px 80px 120px 80px;
  /* position: relative; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.reservation__title {
  font-family: inherit;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
  margin-top: 0;
  /* margin-top: 100px; */
}

.reservation__form {
  font-family: inherit;
  display: flex;
}

.form {
  display: block;
}

.form__fieldset {
  font-family: inherit;
  border: none;
  margin: 0 auto;
  padding: 0;
}

.form__label {
  font-family: inherit;
  font-weight: 500;
  display: block;
  margin-top: 32px;
}

.form__label:first-of-type {
  margin-top: 0;
}

.form__input {
  appearance: none;
  width: 385px;
  max-width: 385px;
  display: block;
  height: 60px;
  margin-top: 8px;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  border: 1px solid #838383;
}

.form__input:focus {
  border-color: #838383;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  gap: 0px 12px;
}

.form__input_type_checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__input::placeholder {
  color: #838383;
  text-indent: 20px;
}

.form__input[type="datetime-local"] {
  color: #838383;
  text-indent: 10px;
}

.form__button {
  background-color: #2f80ed;
  border: none;
  border-radius: 4px;
  width: 385px;
  height: 60px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  margin-top: 32px;
  transition: opacity 0.4s ease-in;
}

.form__button:hover {
  opacity: 0.7;
}
